{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
      <h1 class="error-emoji"></h1>
      <p class="error-text">{{ i18n "pageNotFound" }}</p>
    </div>
  </div>
<script>
  var errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
  var emojiArray = [
    '(T.T)', '(˚Δ˚)', '(^-^*)', '(≥o≤)', '(^_^)', '(·_·)',
    '(=\'X\'=)', '(>_<)', '(;-;)', '(^Д^)',
  ];
  var errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
  errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));
</script>
{{ end }}